.decalKhoLon{
    h4{
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #099cf4;
    }
    h5{
        font-size: 1.5rem;
        font-weight: bold;  
        text-transform: uppercase;      
    }
    a{
        text-decoration: none;
        font-weight: bold;
        transition: 0.5s;
    }   
    
}