@import "../../style/valiable";
#homePage {
    .intro {
        margin-top: 50px;
        .intro_text {
            p {
                color: $colordark-300;
                font-size: $fs16 + 2;
                a {
                    @include textStyle($color-blue-700, $fs20, $fwb);
                    margin-right: $mg-10 - 2;
                    text-decoration: none;
                    transition: 0.5s;
                    &:hover {
                        color: $color-bg;
                    }
                }
            }
        }
        .intro_image {
            position: relative;
            text-align: center;
            overflow: hidden;
            img {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    .productions {
        background-color: $colordark-700;
        margin-top: $mg-50;
        padding: $pd-30 + 5 0;

        .productions_item {
            .productions_hearder {
                margin-bottom: $mg-20;
                h4 {
                    @include textStyle($color-bg, $fs30, 700);
                }
                &::after {
                    content: "";
                    width: 50%;
                    background-color: $color-bg-200;
                    height: 3px;
                    display: block;
                    transition: 0.5s;
                }
              
                h4 {
                    font-size: $fs30;
                    font-weight: $fwb;
                    cursor: pointer;
                    transition: 0.5s;
                }
                &:hover {
                    h4 {
                        animation-name: moveSlow;
                        animation-duration: 3s;
                        animation-iteration-count: infinite;
                    }
                }
            }
            .productions_main {
                .productions_main-link {
                    li {
                        @include textStyle(#777, $fs20 - 3, 400);
                        text-decoration: none;
                        margin-bottom: 0.3rem;
                    }
                }
            }
        }
    }
    .menuPrints {
        margin-top: 50px;
        .menuPrints_title {
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: -2px;
            margin-bottom: 2rem;
            span {
                font-size: 2rem;
                font-weight: 300;
            }
        }
    }
    .feeback {
        background-color: #f4f4f4;
        margin-top: 50px;
        padding: 50px 0;
        p {
            font-size: 1rem;
            font-style: italic;
            i {
                font-size: 2rem;
                font-weight: 799;
            }
        }
        h5 {
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    .partners {
        margin: 50px 0;
        .partners_item {
            width: 200px;
            height: 200px;
            border-radius: 20px;

            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
            }
        }
    }
}

@keyframes moveSlow {
    0% {
        color: #099cf4;
    }
    50% {
        color: #090763;
    }
    100% {
        color: #099cf4;
    }
}
