@import "../../style/animation";
#path {
    width: 5vh;
    height: 5vh;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    background-color: transparent;
    .user_circle,
    .user_body {
        stroke-width: 3px;
        animation-name: dash;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-delay: 4.5s;
    }
    .user_rectan {
        stroke-width: 3px;
        animation-name: dash;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.55, 0.25, 0.43, 0.96);
        animation-delay: 3s;
    }
    .key_rectan {
        stroke-width: 3px;
        animation-name: dash;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.55, 0.25, 0.43, 0.96);
    }
    .key_body{
        stroke-width: 3px;
        animation-name: dash;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
}
