$colordark-100: #101b33;
$colordark-200: #171e2a;
$colordark-300: #495057;

$color-yellow: #f7b924;

$fs16: 16px;
$fs20: 20px;
$fs30: 30px;
$fs40: 406px;
$fs50: 50px;

$fw: normal;
$fwb: bold;

$bgColor: #ffffff;
$borderColor: #15cb6a;

// sizes
$avatarSize: 130px;
$borderWidth: 5px;
$paddingSize: 20px;
$translateValue: -$paddingSize - $borderWidth;

@mixin styleIcon($fs, $fw, $color, $clbg) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: $clbg;
    text-align: center;
}

@mixin textStyle($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
