@import "../style/valiable";
.dark {
    #root {
        background-color: $colordark-200;
        .App {
            .hearder {
                .hearder_Top {
                    background-color: $colordark-100;
                }
                .hearder_Main{
                    background-color: $colordark-100;
                    color: white;
                }
            }
        }
    }
}
