@import "../../style/valiable";
#footer {
    background-color: $color-bg;
    color: white;
    .footerTop {
        padding: 2rem 0;
        .footer_item {
            text-align: center;
            h2 {
                font-family: UTMAvoBold;
                @include textStyle(white, 2rem, 700);
                text-align: left;
                width: 100%;
                margin-bottom: 1rem;
                &::after {
                    content: "";
                    width: 25%;
                    height: 4px;
                    display: block;
                    background-color: #fff;
                }
            }
            .feedBack{
                &::after {
                    content: "";
                    width: 53%;
                    height: 4px;
                    display: block;
                    background-color: #fff;
                } 
            }
            .footer_infor {
                p {
                    text-align: left;
                    i {
                        @include textStyle(white, 1.4em, bold);
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 2.5rem;
                        border: 1px solid white;
                        margin-right: 1rem;
                    }
                    .icon_zalo {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        border: 1px solid white;
                        line-height:1.9rem;
                        text-align: center;
                        display: inline-block;
                        margin-right: 1rem;
                    }
                    span {
                        margin: 0;
                        padding: 0;
                        a {
                            text-decoration: none;
                            color: white;
                            &:hover {
                                color: $colordark-300;
                            }
                        }
                    }
                }
            }
            img {
                text-align: center;
            }
            .website {
                @include textStyle(white, 1rem, 300);
                letter-spacing: 5px;
                font-style: italic;
                text-align: center;
                padding: 0;
                margin-bottom: 1rem;
                line-height: 7px;
            }
            .timeWorlk {
                margin: 0 auto;
                #icon_Time {
                    margin: 0 1rem;
                }
                .time {
                    p {
                        text-align: right;
                        margin: 0;
                        padding: 0.3rem 0;
                    }
                }
            }
            #basic-email{
                color: white;
                background-color: transparent;               
            }
            input{
                background-color: transparent;
                color: white;
            }
            textarea{
                background-color: transparent;
                color: white;
            }
            .btn_SendFeedBack{
                background-color: transparent;
                border: 1px solid white;
                border-radius: 3px;
                color: white;
            }
        }
    }
    .footerBottom {
        padding: 1rem 0;
        background-color: $color-bg-100;
        p {
            @include textStyle($colordark-300, 1rem, 300);
            font-style: italic;
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }
}
