@import "../../style/animation";
@import "../../style/valiable";
#loadingPage {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
   
    position: relative;
    .loading_item {
        background-color: transparent;
        position: absolute;
        width: 50vw;
        height: 50vh;
        top: 50%;
        left: 050%;
        transform: translate(-50%, -250%);
        opacity: 1;
        padding: 3rem 0;
        border-radius: 1rem;
        text-align: center;
        transition: 0.5s;
        animation-name: FadeDownCenter;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        img {
            width: 20vw;
        }
    }
}
@keyframes FadeDownCenter {
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
