@import "../../style/animation";
@import "../../style/valiable";
.hearder {
    .hearder_Top {
        background-color: $color-bg;
        padding: 0;
        margin: 0;
        .hearder_Top_nav {
            .navbar-nav {
                display: flex;
                flex-direction: row;
                .nav-item {
                    margin: 0 0.4rem;
                    padding: 0.3rem 0.25rem;
                    @include textStyle(white, 0.9rem, 500);
                    &:hover {
                        .nav-link {
                            color: rgb(124, 124, 124);
                            i {
                                animation-name: move;
                                animation-duration: 0.5s;
                                animation-iteration-count: infinite;
                            }
                        }
                    }
                    .nav-link {
                        color: white;
                        transition: 0.5s;
                        i {
                            @include textStyle(white, 0.75rem, bold);
                            margin-right: 0.4rem;
                        }
                    }                  
                    .btn_theme {
                        color: white;
                        border: 1px solid white;
                        border-radius: 5px;
                        padding: 0.3rem 0.2rem;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        cursor: pointer;
                        p {
                            margin: 0 0.3rem;
                            padding: 0;
                        }
                        .cicrle {
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: #fff;
                            margin: 0 0.3rem;
                        }
                    }
                }
            }
        }
    }
    .hearder_Main {
        transition: 0.5s;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        .navbar {
            .logo {
                padding: 0 2rem;
                margin-left: 3rem;
                margin-right: 0;
                img {
                    width: 80px;
                }
            }
            .btn_responsive {
            }
            #hearder_Main_Nav {
                justify-content: center;
                .navbar-nav {
                    .nav-item {
                        margin: 0 1rem;
                        .nav-link {
                            @include textStyle(rgb(64, 64, 64), 1rem, 600);
                        }
                    }
                }
            }
        }
    }
    .scroll-to-top {
        position: fixed;
        width: 100%;
        background-color: $color-bg;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        .navbar {
            #hearder_Main_Nav {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .backToTop {
        transition: 1s;
        position: fixed;
        width: 60px;
        height: 60px;
        border-radius: 8px;
        background-color: $color-red;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border: none;
        top: 50%;
        transform: translateX(120%);
        opacity: 0;
        right: 1vw;
        z-index: 999999;
        &:hover {
            i {
                transform: translateY(5%);
            }
        }
        i {
            @include textStyle(white, 1.5rem, bold);
        }
    }
    .btnShow {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes border {
    0% {
        transform: translate(-50%, -50%) scale(1);
        border: 1px solid rgb(190, 19, 16);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5);
        border: 10px solid rgb(246, 101, 87);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        border: 1px solid rgb(190, 19, 16);
        opacity: 0;
    }
}
