@import "../../style/valiable";

#myCarousel {
    // background-color: white;
    padding: 2rem 0;
    position: relative;

    #innhanhCarousel {
        .carousel-indicators {
            bottom: -5vh !important;

            li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color-blue-700;
                position: relative;
                margin: 0 8px;

                &::after {
                    position: absolute;
                    content: "";
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    border: 1px solid $color-bg;
                    display: block;
                    border-radius: 50%;
                    text-align: center;

                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        .carousel-inner {
            border-radius: 20px;
            overflow: hidden;

            .carousel-item {
                img {
                    position: relative;
                }

                .btn_readmore {
                    position: absolute;
                    bottom: 17%;
                    left: 8%;

                    a {
                        margin-top: $mg-10;
                        font-size: 0.8vw;
                        width: 100%;
                        white-space: nowrap;
                        padding: 0;
                        padding: $pd-10;
                        background-color: transparent;
                        border: 1px solid white;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        color: white;
                        border-radius: 7px;
                        transition: 0.5s;
                      &:hover{
                        background-color: $color-bg;
                        a{
                            color: white;
                        }
                      }
                    }
                }
            }
            .item2{
                .btn_readmore {                 
                    bottom: 10%;             
                }
            }
            .item3{
                .btn_readmore {                 
                    bottom: 10%; 
                    left: 20%;   
                       
                }
            }
            .item4, .item5{
                .btn_readmore {                 
                    bottom: 10%; 
                    left: 60%;   
                    &:hover{
                        a{
                            background-color: white!important;
                            color: black;
                        }
                    }                       
                }
                a{
                    background-color: rgb(0, 0, 0)!important;
                }
            }
            .item6{
                .btn_readmore {                 
                    bottom: 10%; 
                    left: 50%;   
                       
                }
            }
            
        }

        #btn_PreviousCarousel {
            position: absolute;
            width: 2vw;
            height: 3vw;
            top: 50%;
            left: 2vw;
            border-radius: 8px;
            background-color: $colordark-300;
        }

        #btn_NextCarousel {
            position: absolute;
            width: 2vw;
            height: 3vw;
            top: 50%;
            right: 2vw;
            border-radius: 8px;
            background-color: $colordark-300;
        }

    }

}