@import "../../../style/animation";
.adminLogin {
    margin-bottom: 30px;
    .adminLogin-content {
        width: 90%;
        margin: 0 auto;

        .adminLogin-hearder {
            width: 80%;
            margin: 0 auto;
            height: 40vh;
            background-image: url("../../../Access/Image/bannerLoginAdmin.jpg");
            background-position: center center;
            background-size: cover;
            transform: translateX(-200%);
            opacity: 0;
            animation: LeftToCenter 3s forwards 1;
        }
        .adminLogin-main {
            width: 100%;
            
            // position: relative;
            .adminLogin_main_content {
                width: 100%;
                margin: 0 auto;
                padding: 3.5rem 10rem;
                height: 500px;
                position: relative;
                .adminLogin_main_content_item {
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -300%);
                    width: 70%;
                    margin: 0 auto;
                    padding: 5rem 10rem 5rem 10rem;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    z-index: 9999;
                    color: black;
                    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
                    border-radius: 7px;
                    text-align: center;
                    animation: fadeInDown 2s forwards 1;
                    animation-delay: 1s;
                    h1 {
                        font-weight: bold;
                    }
                    .typeLogin {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .admin {
                            margin-right: 1rem;
                            border-right: 1px solid gray;
                            padding-right: 1.5rem;
                            margin-bottom: 2rem;
                            margin-top: 1rem;
                        }
                        .staff {
                            margin-left: 1rem;
                            margin-bottom: 2rem;
                            margin-top: 1rem;
                        }
                        input {
                            margin-right: 0.5rem;
                        }
                    }
                    .userName,
                    .password,
                    .rePassword,
                    .email,
                    .keyAdmin {
                        input {
                            height: 7vh;
                            background-color: white !important;
                        }
                        span {
                            background-color: transparent;
                            border-bottom-right-radius: 3px;
                            border-top-right-radius: 3px;
                            .btn_showPass {
                                cursor: pointer;
                            }
                        }
                    }
                    .login_footer {
                        p {
                            margin: 1rem 0;
                            color: gray;
                        }
                        .login_icon {
                            i {
                                font-size: 1.1rem;
                                color: #099cf4;
                                margin: 0 1rem;
                                cursor: pointer;
                                transition: 0.5s;
                                &:hover {
                                    color: aqua;
                                }
                            }
                        }
                        .login_link {
                            margin-top: 2rem;
                            a {
                                margin: 0 0.5rem;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeInDown {
    to {
        transform: translate(-50%, -40%);
    }
}
@keyframes LeftToCenter {
    to {
        transform: translate(0);
        opacity: 1;
    }
}
